*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    padding: 20px;
    font-family: sans-serif;
    background-color: aliceblue;
    border-radius: 20px;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.text-js{
    display: flex;
    align-items: center;
}
#mainbox{
    justify-content: center;
    margin: 20px;
    text-align: center;
    border: 1px solid bisque;
    background-color: bisque;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border-radius: 10px;
}
.treno-pics, .text-js, .claim{
    padding: 30px;
}
.claim{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
#button{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
}